:root {
	/* variables */

	/* PRIMARY */
	--pr_dark_cyan: hsl(158, 36%, 37%);
	--pr_cream: hsl(30, 38%, 92%);

	/* SECONDARY */
	--snd_very_dark_blue: hsl(212, 21%, 14%);
	--snd_dark_grayish_blue: hsl(228, 12%, 48%);
	--snd_white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

/* WEBSITE */

body {
	height: 100vh;
	width: 100%;
	margin: 0;

	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	background-color: var(--pr_cream);
	flex-direction: column;
}

img.round-corner {
	border-radius: 7px 7px 0 0;
}

.card {
	background-color: var(--snd_white);
	min-width: 345px;
	width: 80%;
}

.card p {
	color: var(--snd_dark_grayish_blue);
}

.text_container {
	padding: 1em 2em 1.5em 2em;
}

.title {
	flex-direction: column-reverse;
}

.title p {
	text-transform: uppercase;
	letter-spacing: 0.5ch;
	font-size: 13px;
}

.title h1 {
	font-size: xx-large;
	margin: 1% 0;
}

.description {
	line-height: 1.5;
}

.price {
	list-style-type: none;
	gap: 1em;
	align-items: center;
	padding: 0;
}

.price li:first-child {
	color: var(--pr_dark_cyan);
	font-size: xx-large;
}

.price li:last-child {
	color: var(--snd_dark_grayish_blue);
	text-decoration: line-through;
}

button {
	background-color: var(--pr_dark_cyan);
	color: var(--snd_white);
	/* padding: 1em 15%; */
	font-weight: bolder;
	border: none;
	flex-grow: 1;
	cursor: pointer;
}

button:hover {
	background-color: var(--snd_very_dark_blue);
}

button.round-corner > span:nth-child(2) {
	display: inline-block;
	color: var(--snd_white);
	margin: 1em 0;
}

.cart {
	content: url(/images/icon-cart.svg);
	padding-right: 1em;
}

/* UTILITY */

.flex {
	display: flex;
}

.center {
	align-items: center;
	justify-content: center;
}

.fraunces {
	font-family: "Fraunces", serif;
}

.round-corner {
	border-radius: 7px;
}
/* Atribution */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 2em;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 750px) {
	.card {
		display: flex;
		max-width: 600px;
		min-height: 50%;
	}

	.image_container {
		width: 50%;
		object-fit: contain;
	}

	.image_container > img {
		border-radius: 7px 0 0 7px;
	}

	.text_container {
		width: 50%;
	}

	ul.price {
		margin-top: 2em;
	}

	button {
		margin-top: 2em;
		padding: 0.25em 2em;
	}
}
